@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;700&display=swap');


.container { 
    padding: 2px 16px;
}
.card {
    width: 272px;
    height: 380px;
    box-shadow: 0 4px 8px 0 rgb(146, 146, 146);
    border-radius: 8px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 80px;
    margin-top: 80px;
  
}

.sz-img{
    padding: 16px;
}
img {
    width: 240px;
    border-radius: 4px;
}
h4 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}
p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 2px !important;
    padding-bottom: 10px;

}


@media screen and (max-width: 600px) {
    .card {
        width: 240px;
        height: 324px;
        box-shadow: 0 4px 8px 0 rgb(146, 146, 146);
        border-radius: 8px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom: 80px;
        margin-top: 80px;
    }
    .sz-img{
        padding: 8px;
    }
    img {
        width: 224px;
        border-radius: 4px;
    }
    h4 {
        text-align: center;
        margin-top: 4px !important;
        margin-bottom: 4px !important;
        padding-left: 8px;
        padding-right: 8px;
    }
    p {
        text-align: center;
        margin-top: 2px !important;
        padding-bottom: 10px;
        padding-left: 8px;
        padding-right: 8px;
    
    }
    
}
